h1 {font-size: 24px; line-height: 42px;}
.uk-text-center {text-align: center !important;}
.uk-panel-box {background: transparent; border: 0; border-radius: 0; color: #444444; padding: 15px;}
li {padding-left:0 !important;}


.fcfcfc {background:#fcfcfc;}
.f7f7f7 {background:#f7f7f7;}
.f2f2f2 {background:#f2f2f2;}
.ededed {background:#ededed;}
.e8e8e8 {background:#e8e8e8;}
.e3e3e3 {background:#e3e3e3;}
.dedede {background:#dedede;}
.dcdcdc {background:#dcdcdc;}
.d6d6d6 {background:#d6d6d6;}
.d4d4d4 {background:#d4d4d4;}
.cfcfcf {background:#cfcfcf;}
.cdcdcd {background:#cdcdcd;}
.c7c7c7 {background:#c7c7c7;}
.c2c2c2 {background:#c2c2c2;}
.bebebe {background:#bebebe;}
.bdbdbd {background:#bdbdbd;}
.b8b8b8 {background:#b8b8b8;}
.b3b3b3 {background:#b3b3b3;}
.adadad {background:#adadad;}
.ababab {background:#ababab;}
.a8a8a8 {background:#a8a8a8;}
.a6a6a6 {background:#a6a6a6;}
.a1a1a1 {background:#a1a1a1;}
.9c9c9c {background:#9c9c9c;}
.969696 {background:#969696;}
.919191 {background:#919191;}
.8c8c8c {background:#8c8c8c;}
.878787 {background:#878787;}
.828282 {background:#828282;}
.7f7f7f {background:#7f7f7f;}
.7d7d7d {background:#7d7d7d;}
.787878 {background:#787878;}
.737373 {background:#737373;}
.6e6e6e {background:#6e6e6e;}
.696969 {background:#696969;}
.636363 {background:#636363;}
.5e5e5e {background:#5e5e5e;}
.595959 {background:#595959;}
.555555 {background:#555555;}
.4f4f4f {background:#4f4f4f;}
.4a4a4a {background:#4a4a4a;}
.454545 {background:#454545;}
.404040 {background:#404040;}
.3b3b3b {background:#3b3b3b;}
.363636 {background:#363636;}
.303030 {background:#303030;}
.2b2b2b {background:#2b2b2b;}
.262626 {background:#262626;}
.212121 {background:#212121;}
.1c1c1c {background:#1c1c1c;}